
/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


/* End Reset */

/* League Gothic */
@font-face {
    font-family: 'League Gothic';
    src: url('src/leaguegothic-regular-webfont.eot');
    src: url('src/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('src/leaguegothic-regular-webfont.woff') format('woff'),
         url('src/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('src/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;}

body {width:840px;
	margin: 0 auto;
	position: relative;
	padding-top: 60px;
	font-family: helvetica}
header {position: relative}
#homeimage {padding-top: 50px;
	padding-bottom: 30px;
	background-color: yellow;}

a:hover {color: rgb(196,133,111);}
a:hover {opacity:.6;}

/*portfolio page*/
h2 {font-size: 13px;
	padding-bottom: 4px}

/*main nav bar*/

#nav-1 {float:left;
	width:19%;
	font-family: "League Gothic", Impact, sans-serif}
li a {text-decoration: none;
	color: rgb(154,36,32);
	font-size: 35px;
	line-height: 1.5;
	letter-spacing: .1em;
	font-family: "League Gothic", Impact, sans-serif}
#nav-2 {float:right;
	text-align: right;
	width: 16%;
	font-family: "League Gothic", Impact, sans-serif;}
h1 {margin: 0 auto;
	width: 65%;
	float:left;
	padding-bottom: 70px;
	font-family: "League Gothic", Impact, sans-serif;
	font-size: 105px;
	text-decoration: none;
	color: black;
	letter-spacing: .1em;
	text-align: center;}
#currentpage {color: rgb(196,133,111);}

/*About Me*/
#about {width:55%;}
#about-me h2 {
	float: left;
	font-weight: bold;
	font-size: 18pt;
	letter-spacing: .05em;}
#about-me p  {float:left;
	color:grey;
	font-size: 13pt;
	line-height: 1.2;}
#art-statement h2 {
	float: left;
	font-weight: bold;
	font-size: 18pt;
	letter-spacing: .05em;
	margin-top: 20px;}
#art-statement p  {float:left;
	color:grey;
	font-size: 14pt;
	line-height: 1.2;
	font-family: helvetica;}
#second-p {text-indent: 1em}
#brent-face {float:right;
	}

/*Contact*/
#contact h2 {clear: both;
	float:left;
	font-size: 18pt;
	letter-spacing: .05em;
	font-weight: bold;
	text-transform: uppercase;}
#contact {float:left; 
	width: 45%;}
#contact p {clear:both;
	padding-top: 10px;
	font-size: 13pt;
	line-height: 1.2; }
#contact p a {color:rgb(196,133,111);
	text-decoration: none;}
#facebook {padding-top: 15px}
/*Individual Work Pages*/
.title {clear: both;
	padding-bottom: 15px;
	font-size: 20px;}
.work {clear: both;
	float: right;}

#nav4 {clear: both;
	font-size: 15px;
	float:right;
	padding-top: 20px;
	text-align: right;
	color: rgb(111,105,135);}
#nav4 p a {text-decoration: none;}

/*vertical scroll*/
.scroll {background-color: #dcdcdc;
	padding:10px ;
	width:170px;
	height:255px;
	overflow-y: scroll;}}

/*Portfolio Webpage Positioning*/
#portfolio {text-transform: uppercase;}
#project1 { float: left;
	padding-right: 50px;
	padding-bottom:40px;
	font-size: 20px;}

#project2 { float: left;
	padding-right: 50px;
	padding-bottom:40px;
	font-size: 20px;}
#project3 { float: left;
	padding-right: 50px;
	padding-bottom:40px;
	font-size: 20px;}
#project4 { float: left;
	padding-bottom:40px;
	font-size: 20px;}
#project5 { float: left;
	padding-right: 50px;
	padding-bottom:40px;
	font-size: 20px;}
#project6 { float: left;
	padding-right: 50px;
	padding-bottom:40px;
	font-size: 20px;}
#project7 { float: left;
	padding-right: 50px;
	padding-bottom:40px;
	font-size: 20px;}
#project8 { float: left;
	padding-bottom:40px;
	font-size: 20px;}
#project9 { float: left;
	padding-right: 50px;
	padding-bottom:40px;
	font-size: 20px;}
#project10 { float: left;
	padding-right: 50px;
	padding-bottom:40px;
	font-size: 20px;}
#project11 { float: left;
	padding-right: 50px;
	padding-bottom:40px;
	font-size: 20px;}
#project12 { float: left;
	padding-bottom:40px;
	font-size: 20px;}	

#nav3 h3{float:right;
	padding-left: 15px;
	font-size:15px;
	}
#nav3 a{text-decoration: none;
		color: rgb(111,105,135);}

