

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*END RESET*/

body {width: 960px;
	margin: 0 auto;
	font-family: helvetica;
	text-decoration: none}

#site-header {position:relative;
	height: 130px;
	background-color: #ecf2d3}
#site-header h1 {position: absolute;
	display: block;
	width: 360px;
	height:150px;
	left:15px;}

#logo-text{background: red;
	position: absolute;
	left: -9999px}
#top-nav {position: absolute;
	right: 15px;
	top:5px;
	text-decoration: none;
	width: 150px;
	}
#top-nav a {color:#875c33;
			font-family:helvetica;
			font-size:12px;}
a {text-decoration: none;}
#main-menu {position: relative;
	height: 30px;
	background-color:#875c33;
	padding: 10px}
#main-menu li {float:left;
	padding:0px 10px;
	margin:10px 0px 5px 15px;
	text-transform:uppercase; 
	font-weight:bold;
	font-size: 14px;
	margin: 10px}
#main-menu a {color: white}

#page h1 {	font-size: 24pt;
	color:#744918;
	text-transform:uppercase; 
	font-weight:bold;
	margin-top:30px;
	margin-bottom: 10px}
#page p {position: relative;
	width: 440px;
	float: left;
	font-size:12px;
	padding: 0px 10px}
#page h2 {font-size: 16px;
	color:#744918;
	text-transform:uppercase; 
	font-weight:bold;}
#page {	float:left; 
	width:50%;
	background-color:white;
	margin:20px 15px;
	padding:10px;}
#sidebar {float:right;
	width:30%;
	margin-top:20px;
	padding:10px;
	position: relative;
	}
#sidebar h1 {
			 color:#875c33;
			 font-size:16px;
			 text-transform:uppercase;
			 font-family:helvetica;
			 font-weight:bold;
			 padding-top:12px;
			 padding-bottom:5px;}
#sidebar ul {margin-bottom: 10px}
#sidebar li {color:#875c33;
			 font-size:12px;
			line-height: 1.5em}
#site-footer {clear: both;
	position: relative;
	float:left;
	width: 15%;
	height:175px;}