

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*END RESET*/

body {margin: 0 auto;
	font-family: helvetica;
	text-decoration: none;}

header {position:relative;
	height: 125px;
	width: 960px;
	margin: 0 auto;}

#site-wrapper {
	background-color: #ecf2d3;
	height: 125px}
header h1 {position: absolute;
	display: block;
	width: 360px;
	height:100px;}

#logo-text{background: red;
	position: absolute;
	left: -9999px}
#top-nav {position: absolute;
	right: 0px;
	top:5px;}
#top-nav a {text-decoration: none;
	width: 150px;
	color: #875c33;
	font-size: 12px;}
#main-menu {position: relative;
	height: 30px;
	background-color:#875c33;
	padding: 10px;
	margin:0 auto;
	width: 960px;}
#main-menu li {float:left;
	display: block;
	padding:0px 10px;
	margin:0px 0px 5px 15px;
	text-transform:uppercase; 
	font-weight:bold;
	font-size: 14px;
	margin: 10px;}
#main-menu a {color: white;
	text-decoration: none;}
#menu-wrapper {background-color: #875c33;}

#page {float: left;
	width: 60%;
	margin-top: 40px;
	font-size: 12px;
	line-height: 1.3em;}
#page h1 {color: #875c33;
	font-weight: bold;
	font-size: 36px;
	text-transform:uppercase;
	padding-bottom: 10px}
#page h2 {color: #875c33;
	font-size: 16px;
	text-transform:uppercase;
	font-weight: bold;
	padding-top:15px;
	padding-bottom: 8}
#page p {margin-top: 5px;}
#content {width: 960px;
	margin: 0 auto;}
#sidebar {float:left;
	width:30%;
	margin-top:40px;
	padding:10px;
	margin-left:75px ;
	position: relative;
	padding-bottom: 15px}
#sidebar li {color: #875c33;
	font-size: 12px;
	line-height: 1.6em;}
#sidebar a {color: #875c33;
	text-decoration: none;}
#sidebar h1 {color:#875c33;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 12px;
	padding-bottom: 5px;}
#sidebar ul {padding-bottom: 15px}
#site-footer {clear:both;
	position: relative;
	bottom: 0;
	width: 960px;
	margin: 0 auto;}

#footer-contact {width: 15%;
	float: left;
	padding-top: 10px;
	color: white;
	font-size: 12px}
#footer-contact h1 {color: #ecf2d3;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	padding-bottom:3px;}
#footer-follow {float: right;
	height:100px;
	margin-right: 100px;
	padding-top: 10px;
	color: #ecf2d3;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	padding-bottom:3px;}
#footer-follow li {float:left; 
	padding-top: 10px}
#footer-wrapper {background-color: #875c33;
	clear: both;
	height: 120px;}
